<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jzg.myapplication">

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.example.jzg.myapplication.app.SysApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.jzg.myapplication.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--
        <activity android:name="com.example.jzg.myapplication.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
-->

        <activity android:name=".recyclerview.RecyclerViewActivity"
                  ></activity>
        <activity android:name="com.example.jzg.myapplication.doublerecyclerview.DoubleRecyclerViewActivity"></activity>
        <activity android:name=".tablayoutviewpager.TabLayoutViewPagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity android:name=".tagflowlayout.TagFlowLayoutActivity"></activity>
        <activity android:name=".slidingmenu.ToolbarDrawerLayoutActivity"></activity>
        <activity android:name=".slidingmenu.DrawerLayoutActivity"></activity>
        <activity android:name="com.example.jzg.myapplication.upload.UploadDemoActivity"></activity>
        <activity android:name="com.example.jzg.myapplication.upload.UploadBigFileDemoActivity"></activity>
        <activity android:name="com.example.jzg.myapplication.horizontalverticalscroll.AdmixedContrastActivity"></activity>
        <activity android:name="com.example.jzg.myapplication.convenientbanner.PhotoForNetActivity"></activity>
        <activity android:name="com.example.jzg.myapplication.convenientbanner.BannerActivity"></activity>
        <activity android:name="com.example.jzg.myapplication.cameracustom.DemoCameraActivity"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity
            android:name="com.example.jzg.myapplication.cameracustom.CameraActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity
            android:name="com.example.jzg.myapplication.cameracustom.PictureZoomActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity
            android:name="com.example.jzg.myapplication.dialogactivity.DialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.ActivityDialogStyle"
            />
        <activity
            android:name="com.example.jzg.myapplication.tablayoutview.TabLayoutViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
    </application>

</manifest>